.uniButton {
  cursor: pointer;
  width: 80px;
  height: 60px;
  background-color: #375d3b;
  border-radius: 5px;
  color: #fff;
  border: none;
  font-size: clamp(18px, 2vw, 18px);
}

.uniButton:hover {
  background-color: #559d5f;
}
