.menuContainer button {
  width: 30vw;
  align-items: center;
  justify-content: center;
  font-size: clamp(12px, 5vw, 18px);
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  color: #375d3b;
}

@media (max-width: 768px) {
  .menuContainer button {
    width: 70vw;
  }
}

.mainTitle {
  width: 100vw;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #375d3b;
  font-size: clamp(15px, 5vw, 30px);
}
