.toggleButton {
  position: fixed;
  bottom: 60px;
  right: 40px;
  width: 60px;
  height: 60px;
  background-color: #375d3b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.toggleButtonContent {
  color: #ffffff;
  font-size: 24px;
}

.buttonsContainer {
  background-color: #f0fff0;
  position: fixed;
  bottom: 140px;
  right: 40px;
  width: 30vw;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonText {
  margin-bottom: 10px;
  text-align: center;
  color: #375d3b;
}

.durationButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.durationButtons button {
  width: 20vw;
  height: 5vh;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2fff2;
  color: #375d3b;
  border: none;
  font-size: 16px;
  cursor: pointer;
  background-color: #d8ffd8;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .durationButtons button {
    width: 70vw; /* Expand to 90% of the viewport width */
  }
  .buttonsContainer {
    width: 70vw;
  }
}
