.circle {
  background-color: #82d182;
  width: 18vh;
  height: 18vh;
  border-radius: 50%;
  animation: circleAnimation infinite;
  box-shadow: 0 0 20px rgba(130, 209, 130, 0.5);
}

@keyframes circleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}
.text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  text-align: center;
  color: #375d3b;
}

.event-time {
  position: fixed;
  bottom: 40px; /* Adjust the positioning as needed */
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
}

.stats {
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.reset-animation {
  animation: none; /* Reset the animation */
}
