.circleContainer {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.circleBreaths {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.circle {
  background-color: #82d182;
  width: 18vh;
  height: 18vh;
  border-radius: 50%;
  animation: circleAnimation infinite;
  box-shadow: 0 0 20px rgba(130, 209, 130, 0.5);
}

@keyframes circleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}

.reset-animation {
  animation: none; /* Reset the animation */
}

.text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #375d3b;
  font-size: clamp(20px, 5vw, 24px);
}

/* .stats {
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
} */
