.toggleButtonOptionsIcon {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.toggleButtonOptionsIcon button {
  font-size: 30px;
}
.HowManyBreathsContainer {
  background-color: transparent;
  position: fixed;
  bottom: 80px;
  right: 25px;
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  padding: 10px;
}

.HowManyBreathsButtons button {
  border-radius: 50px;
  width: 45px;
  height: 45px;
  margin-bottom: 10px;
  background-color: #d8ffd8;
  color: #375d3b;
  border: none;
}

/* Media Query for smaller screens  */
@media (max-width: 768px) {
  .HowManyBreathsButtons button {
    width: 45px;
    height: 45px;
  }
  /* .buttonsContainer {
    width: 70vw;
  } */
}
